body{

    font-family: Arial, Helvetica, sans-serif;
    
    background: linear-gradient(135deg,#1f1c2c,#928dab);
    
    height:100vh;
    
    display:flex;
    
    align-items:center;
    
    justify-content:center;
    
    }
    
    .calculadora{
    
    background:#222;
    
    padding:20px;
    
    border-radius:15px;
    
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
    
    }
    
    .display{
    
    width:100%;
    
    height:60px;
    
    font-size:28px;
    
    margin-bottom:15px;
    
    text-align:right;
    
    padding:10px;
    
    border:none;
    
    border-radius:10px;
    
    background:#111;
    
    color:white;
    
    }
    
    .botoes{
    
    display:grid;
    
    grid-template-columns:repeat(4,70px);
    
    gap:10px;
    
    }
    
    button{
    
    height:60px;
    
    font-size:20px;
    
    border:none;
    
    border-radius:10px;
    
    cursor:pointer;
    
    background:#444;
    
    color:white;
    
    transition:0.2s;
    
    }
    
    button:hover{
    
    background:#666;
    
    }
    
    .igual{
    
    background:#4CAF50;
    
    }
    
    .igual:hover{
    
    background:#45a049;
    
    }
    
    .zero{
    
    grid-column:span 2;
    
    }